{% if status == 'error' %}
  {% render "error_msg" 
    message: message,
    url: trmnl.plugin_settings.custom_fields_values.rss_url
  %}
{% else %}
    {% assign random_items = items | %}
  {% case trmnl.plugin_settings.custom_fields_values.display_mode_full %}

    {% when 'grid_list' %}
      <div class="layout screen--no-bleed">
        <div class="grid">
          <div class="col col--start col--span-2">
            {% for item in items limit:1 %}
              {% render "media_item_cover" 
                title: item.title, 
                cssClasses: "mb--4",
                image: item.preview_url
                description: item.description,
                show_thumb: trmnl.plugin_settings.custom_fields_values.show_images_full,
                show_description: trmnl.plugin_settings.custom_fields_values.show_description_full,
                body: item.content
              %}
            {% endfor %}
            {% for item in items offset:1 limit:1 %}
              {% render "media_item_cover" 
                title: item.title, 
                image: item.preview_url
                description: item.description,
                show_thumb: trmnl.plugin_settings.custom_fields_values.show_images_full,
                show_description: trmnl.plugin_settings.custom_fields_values.show_description_full,
                body: item.content
              %}
            {% endfor %}
          </div>
          <div class="col col--start col--span-2">
            <div class="pl--2">
              <div class="list" data-list-limit="true" data-list-max-height="370" data-list-hidden-count="true" data-list-max-columns="1">
                {% for item in items limit:5 offset:2 %}
                  {% render "media_item", 
                    title: item.title, 
                    image: item.preview_url
                    description: item.description,
                    body: item.content,
                    index: forloop.index, 
                    show_thumb: trmnl.plugin_settings.custom_fields_values.show_images_full,
                    show_description: trmnl.plugin_settings.custom_fields_values.show_description_full
                  %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>

    {% when 'list' %}
      <div class="layout screen--no-bleed">
        <div class="grid">
          <div class="list" data-list-limit="true" 
            data-list-max-height="370" 
            data-list-hidden-count="true"
            data-list-max-columns="2">
            {% for item in items limit:20 %}
              {% render "media_item", 
                cssClasses: "pr--4",
                title: item.title, 
                image: item.preview_url
                description: item.description,
                index: forloop.index, 
                body: item.content,
                show_thumb: trmnl.plugin_settings.custom_fields_values.show_images_full,
                show_description: trmnl.plugin_settings.custom_fields_values.show_description_full
              %}
            {% endfor %}
          </div>
        </div>
      </div>

    {% when 'grid' %}
      {% comment %} 2/1 1/1/1 {% endcomment %}
      <div class="layout layout--col screen--no-bleed">
        <div class="grid gap--small">
          <div class="col--span-2">
            {% for item in items limit:1 %}
              {% render "media_item_cover" 
                title: item.title, 
                image: item.preview_url
                description: item.description,
                show_thumb: trmnl.plugin_settings.custom_fields_values.show_images_full,
                show_description: trmnl.plugin_settings.custom_fields_values.show_description_full,
                body: item.content_encoded
              %}
            {% endfor %}
          </div>
          <div class="col--span-3">
            {% for item in items offset:1 limit:1 %}
              {% render "media_item_cover" 
                title: item.title, 
                image: item.preview_url,
                description: item.description,
                show_thumb: trmnl.plugin_settings.custom_fields_values.show_images_full,
                show_description: trmnl.plugin_settings.custom_fields_values.show_description_full,
                body: item.content_encoded
              %}
            {% endfor %}
          </div>
        </div>
        <div class="grid gap">
          <div class="col--span-1">
            {% for item in items offset:2 limit:1 %}
              {% render "media_item_cover" 
                title: item.title, 
                image: item.preview_url
                description: item.description,
                show_thumb: trmnl.plugin_settings.custom_fields_values.show_images_full,
                show_description: trmnl.plugin_settings.custom_fields_values.show_description_full,
                body: item.content_encoded,
                rawItem: rawItem
              %}
            {% endfor %}
          </div>
          <div class="col--span-1">
            {% for item in items offset:3 limit:1 %}
              {% render "media_item_cover" 
                title: item.title, 
                image: item.preview_url
                description: item.description,
                show_thumb: trmnl.plugin_settings.custom_fields_values.show_images_full,
                show_description: trmnl.plugin_settings.custom_fields_values.show_description_full,
                body: item.content_encoded
              %}
            {% endfor %}
          </div>
          <div class="col--span-1">
            {% for item in items offset:4 limit:1 %}
              {% render "media_item_cover" 
                title: item.title, 
                image: item.preview_url,
                description: item.description,
                show_thumb: trmnl.plugin_settings.custom_fields_values.show_images_full,
                show_description: trmnl.plugin_settings.custom_fields_values.show_description_full,
                body: item.content_encoded
              %}
            {% endfor %}
          </div>
        </div>
      </div>

    {% when 'grid_2' %}
      {% comment %} 2/1 2/1 {% endcomment %}
      <div class="layout layout--col screen--no-bleed">
        <div class="grid gap--small">
          <div class="col--span-2">
            {% for item in items limit:1 %}
              {% render "media_item_cover" 
                title: item.title, 
                image: item.preview_url
                description: item.description,
                show_thumb: trmnl.plugin_settings.custom_fields_values.show_images_full,
                show_description: trmnl.plugin_settings.custom_fields_values.show_description_full,
                body: item.content_encoded
              %}
            {% endfor %}
          </div>
          <div class="col--span-3">
            {% for item in items offset:1 limit:1 %}
              {% render "media_item_cover" 
                title: item.title, 
                image: item.preview_url,
                description: item.description,
                show_thumb: trmnl.plugin_settings.custom_fields_values.show_images_full,
                show_description: trmnl.plugin_settings.custom_fields_values.show_description_full,
                body: item.content_encoded
              %}
            {% endfor %}
          </div>
        </div>
        {% comment %} bottom half {% endcomment %}
        <div class="grid gap">
          <div class="col--span-3">
            {% for item in items offset:2 limit:1 %}
              {% render "media_item_cover" 
                title: item.title, 
                image: item.preview_url
                description: item.description,
                show_thumb: trmnl.plugin_settings.custom_fields_values.show_images_full,
                show_description: trmnl.plugin_settings.custom_fields_values.show_description_full,
                body: item.content_encoded,
                rawItem: rawItem
              %}
            {% endfor %}
          </div>
          <div class="col--span-2">
            {% for item in items offset:3 limit:1 %}
              {% render "media_item_cover" 
                title: item.title, 
                image: item.preview_url
                description: item.description,
                show_thumb: trmnl.plugin_settings.custom_fields_values.show_images_full,
                show_description: trmnl.plugin_settings.custom_fields_values.show_description_full,
                body: item.content_encoded
              %}
            {% endfor %}
          </div>
        </div>
      </div>

    {% when 'grid_3' %}
      {% comment %} 2/1 1/1/1 {% endcomment %}
      <div class="layout layout--col screen--no-bleed">
        <div class="grid gap--small">
          {% for item in items limit:3 %}
          <div class="col--span-1">
              {% render "media_item_cover" 
                title: item.title, 
                image: item.preview_url
                description: item.description,
                show_thumb: trmnl.plugin_settings.custom_fields_values.show_images_full,
                show_description: trmnl.plugin_settings.custom_fields_values.show_description_full,
                body: item.content_encoded
              %}
          </div>
          {% endfor %}
        </div>
        <div class="grid gap">
          {% for item in items offset:3 limit:3 %}
          <div class="col--span-1">
              {% render "media_item_cover" 
                title: item.title, 
                image: item.preview_url
                description: item.description,
                show_thumb: trmnl.plugin_settings.custom_fields_values.show_images_full,
                show_description: trmnl.plugin_settings.custom_fields_values.show_description_full,
                body: item.content_encoded
              %}
          </div>
          {% endfor %}
        </div>
      </div>        

      {% when 'grid_4' %}
      {% comment %} 2x2 grid layout {% endcomment %}
      <div class="layout layout--col screen--no-bleed">
        {% comment %} Top row: 2 equal columns {% endcomment %}
        <div class="grid gap">
          {% for item in items limit:2 %}
          <div class="col--span-2">
              {% render "media_item_cover" 
                title: item.title, 
                image: item.preview_url,
                description: item.description,
                show_thumb: trmnl.plugin_settings.custom_fields_values.show_images_full,
                show_description: trmnl.plugin_settings.custom_fields_values.show_description_full,
                body: item.content_encoded
              %}
          </div>
          {% endfor %}
        </div>
        
        {% comment %} Bottom row: 2 equal columns {% endcomment %}
        <div class="grid gap">
          {% for item in items offset:2 limit:2 %}
          <div class="col--span-2">
              {% render "media_item_cover" 
                title: item.title, 
                image: item.preview_url,
                description: item.description,
                show_thumb: trmnl.plugin_settings.custom_fields_values.show_images_full,
                show_description: trmnl.plugin_settings.custom_fields_values.show_description_full,
                body: item.content_encoded
              %}
          </div>
          {% endfor %}
        </div>
      </div>

    {% else %}
      <div class="layout layout--no-bleed">
        <div class="grid">
          <div class="col col--start col--span-2">
            {% for item in items limit:1 %}
              {% render "media_item_cover" 
                title: item.title, 
                cssClasses: "mb--4",
                image: item.preview_url
                description: item.description,
                show_thumb: trmnl.plugin_settings.custom_fields_values.show_images_full,
                show_description: trmnl.plugin_settings.custom_fields_values.show_description_full,
                body: item.content
              %}
            {% endfor %}
            {% for item in items offset:1 limit:1 %}
              {% render "media_item_cover" 
                title: item.title, 
                image: item.preview_url
                description: item.description,
                show_thumb: trmnl.plugin_settings.custom_fields_values.show_images_full,
                show_description: trmnl.plugin_settings.custom_fields_values.show_description_full,
                body: item.content
              %}
            {% endfor %}
          </div>
          <div class="col col--start col--span-2">
            <div class="pl--2">
              <div class="list" data-list-limit="true" data-list-max-height="370" data-list-hidden-count="true" data-list-max-columns="1">
                {% for item in items limit:5 offset:2 %}
                  {% render "media_item", 
                    title: item.title, 
                    image: item.preview_url
                    description: item.description,
                    index: forloop.index, 
                    body: item.content,
                    show_thumb: trmnl.plugin_settings.custom_fields_values.show_images_full,
                    show_description: trmnl.plugin_settings.custom_fields_values.show_description_full
                  %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
  {% endcase %}
{% endif %}

{% if  trmnl.plugin_settings.custom_fields_values.show_title_bar == 'true' %}
{% render "title_bar" image: feed.image, title: title, description: description %}
{% endif %}